<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Debuggers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/doubtforum.css">
    <link rel="stylesheet" href="/css/nav.css">

    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="/"><i class="fas fa-bug icon"></i><p class="brand_name">Debuggers</p></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/events"><p class="about_nav_text">Events</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href=""><p class="meet_nav_text">Doubt Forum</p></a>
                  </li>

                  <li class="nav-item">
                   <a class="nav-link " href="/"><p class="contact_nav_text">Profile</p></a>
                 </li>
                 </ul>
                 </div>

      </nav>

      <div class="main-container">
        <section class="left-div">

          <div class="new-post">
            <div class="new-post-text">
              <i class="fas fa-newspaper"></i>  New Post
            </div>
            <div class="post-search">
                Search
            </div>
          </div>
          <div class="today-doubt">
          <div class="category-doubt">
            Trending  <i class="fas fa-arrows-alt-v"></i>
          </div>
          <div class="toggle-by-arrow">
            <%  for(var i=0; i< 5; i++){ %>
                <div class="doubt-div-left">
                    <div class="left-block-content">
                      <a onclick="" ><h6><span>Q.</span> Can you tell me what is PMC?</h6>
                      <p>I have heard something like PMC,can you tell what it is.</p></a>
                    </div>
                </div>
              <%} %>
          </div>


          </div>
          <div class="today-doubt">
            <div class="category-doubt">
              Today <i class="fas fa-arrows-alt-v"></i>
            </div>
            <div class="toggle-by-arrow">
              <% for(let i=0; i< todayDoubts.length; i++) { %>
                  <div class="doubt-div-left" id="today-doubts">
                    <div class="left-block-content">


                      <a onclick="getDoubt('<%= todayDoubts[i]._id%>')"><h6><span>Q.</span> <%= todayDoubts[i].question %></h6>
                      <p><%= todayDoubts[i].desc %></p></a>
                    </div>
                  </div>
                <% } %>
            </div>
          </div>
          <div class="today-doubt">
            <div class="category-doubt">
              Yesterday <i class="fas fa-arrows-alt-v"></i>
            </div>
            <div class="toggle-by-arrow">
              <%  for(var i=0; i< yesterdayDoubts.length; i++){ %>
                  <div class="doubt-div-left" id="yesterday-doubts">
                    <div class="left-block-content">
                      <a onclick="getDoubt('<%= yesterdayDoubts[i]._id%>')"><h6><span>Q.</span> <%= yesterdayDoubts[i].question %></h6>
                      <p><%= yesterdayDoubts[i].desc %></p></a>
                    </div>
                  </div>
                <%} %>
            </div>
          </div>
          <div class="today-doubt">
            <div class="category-doubt">
              This week <i class="fas fa-arrows-alt-v"></i>
            </div>
            <div class="toggle-by-arrow">
              <%  for(var i=0; i< thisWeekDoubts.length; i++){ %>
                  <div class="doubt-div-left" id="week-doubts">
                    <div class="left-block-content" >
                      <a onclick="getDoubt('<%= thisWeekDoubts[i]._id%>')"><h6><span>Q.</span> <%= thisWeekDoubts[i].question %></h6>
                      <p><%= thisWeekDoubts[i].desc %></p></a>
                    </div>
                  </div>
                <%} %>
            </div>
          </div>
          <div class="today-doubt">
            <div class="category-doubt">
              This month <i class="fas fa-arrows-alt-v"></i>
            </div>
            <div class="toggle-by-arrow">
              <%  for(var i=0; i< thisMonthDoubts.length; i++){ %>
                  <div class="doubt-div-left">
                    <div class="left-block-content">
                      <a onclick="getDoubt('<%= thisMonthDoubts[i]._id%>')"><h6><span>Q.</span> <%= thisMonthDoubts[i].question %></h6>
                      <p><%= thisMonthDoubts[i].desc %></p></a>
                    </div>
                  </div>
                <%} %>
            </div>
          </div>
          <div class="today-doubt">
            <div class="category-doubt">
              Past Doubts <i class="fas fa-arrows-alt-v"></i>
            </div>
            <div class="toggle-by-arrow">
              <%  for(var i=0; i< otherDoubts.length; i++){ %>
                  <div class="doubt-div-left">
                    <div class="left-block-content">
                      <a onclick="getDoubt('<%= otherDoubts[i]._id%>')"><h6><span>Q.</span> <%= otherDoubts[i].question %></h6>
                      <p><%= otherDoubts[i].desc %></p></a>
                    </div>
                  </div>
                <%} %>
            </div>
          </div>
        </section>

        <section class="mid-div">


           <div id='show-doubt' class="doubt-section">


           </div>



           <div class="post-a-doubt">
             <div class="post-doubt-div">
                <div class="post-a-doubt-top">
                  Post Your Doubt
                </div>
                <form action="/doubtforum" method="post">
                <div class="post-a-doubt-body">

                  <div class="post-type">
                    Post as
                    <div class="post-type-input">
                      <input type="radio" name="postType" value="User" required="true">
                      <label for="User"> User</label>
                    </div>
                    <div class="post-type-input">
                      <input type="radio" name="postType" value="Anonymous" required="true">
                      <label for="Anonymous">Anonymous</label>
                    </div>


                  </div>

                  <div class="Question">
                    <h5>Question</h5>
                    <input type="text" name="question" value="" placeholder="Type your Question" required="true">
                  </div>

                  <div class="Desc">
                    <h5>Description</h5>
                    <textarea name="desc" rows="3" placeholder="Type your Description"></textarea>
                  </div>

                  <div class="doubt-buttons">
                      <button type="submit" name="button">Post my Doubt</button>
                      <button type="button" name="button" id="cancel-btn">Cancel</button>
                  </div>
                </div>
              </form>

             </div>
           </div>
        </section>

        <section class="right-div">

        </section>
      </div>


<script src="/javascript/lib/jquery.js">
</script>
<script src="/javascript/doubtforum.js">
</script>

<script>




function getDoubt(_id) {
  console.log(_id);

  let doubt, owner = null;
  _id = _id.toString();
  fetch(`/doubtforum/${_id}`)
  .then(response => response.json())
  .then(data => {

    doubt = data.doubt;
    owner = data.owner;
    console.log(owner);
    console.log(doubt);
    if(doubt.userName === 0) {
      owner.name = "Anonymous"
    }

    if(doubt) {
      document.getElementById('show-doubt').innerHTML = `

       <div class="question-mid-div">
          <div class="question-top">
              Question by


              <a href="#" class="username-a">${owner.name}</a>

              <span class="top-views">1500 views <i class="far fa-eye"></i> </span>
          </div>
          <div class="question-mid-container">
            <h5>${doubt.question}</h5>
            <p>${doubt.desc}</p>
          </div>

          <div class="doubt-bottom-div">

              <div class="doubt-options">
                <div class="doubt-options-span">
                  <div class="answer">
                    <button type="button" name="button" id="answer-trigger">Answer</button>
                  </div>
                  <span><a href="#">Upvote</a></span>
                  <span> <a href="#">Downvote</a></span>
                  <span><a href="#">Star</a></span>
                </div>

                <button type="button" name="button">Edit</button>

              </div>


          </div>
      </div>

      <div class="question-mid-div" id="answer-pop">
        <div class="question-top" id="answer-top">
            Answer by <a href="#" class="username-a"> Faisal Ali Khan</a>
        </div>
        <form action="" method="post">
        <div class="question-mid-container">
          <textarea name="name" rows="2" placeholder="Type your Answer..." id="answer-input" required="true"></textarea>
        </div>

        <div class="doubt-bottom-div">

            <div class="doubt-options">
              <div class="doubt-options-span" id="answer-options-span">

                <span><button type="submit" name="button" id="answer-submit">Post my Answer</button>
               </span>
                <span>   <button type="button" name="button" class="cancel-answer">Cancel</button></span>

              </div>

            </div>

        </div>
      </form>
      </div>

      <div class="question-mid-div">
          <div class="question-top" id="answer-top">
              Answer by <a href="#" class="username-a"> Hemant Lakhotia</a>  <span class="top-views">1000 views <i class="far fa-eye"></i> </span>
          </div>
          <div class="question-mid-container" id="answer-div">

            <p>Yea it's pretty simple. Just apply with a proper resume at debuggers.com and yeah extra curricular is also important.</p>
          </div>

          <div class="answer-followups">
              <h5>Follow-up Discussion/Comment</h5>

              <ul class="answer-comments">
              <li class="comment-list"> <span><img src="https://cutt.ly/rki7z0g"></span> <div class="comment-div">Comment 1</div></li>
              <li class="comment-list"> <span><img src="https://media.discordapp.net/attachments/802147732658716672/804975352552226856/Hemant_Lakhotia_2020.jpg?width=488&height=670"></span> <div class="comment-div">Comment 2</div></li>
              <li class="comment-list"> <span><img src="https://cutt.ly/Wk3AhHo"></span> <div class="comment-div">Comment 3</div></li>
              <li class="comment-list"> <span><img src="https://cutt.ly/yk3AvgY"></span> <div class="comment-div">Comment 4</div></li>
              <li class="comment-list"> <span><img src="https://cutt.ly/qk3AmOK"></span> <div class="comment-div">Comment 4</div></li>
              <li class="comment-list" id="new-comment-div"> <span><img src="https://cutt.ly/rki7z0g"></span> <div class="comment-div" id="new-comment-div-new">
                <form action="" method="post">
                  <input class="new-comment-input" type="text" name="" value="" placeholder="Comment..">
                  <div class="new-comment-buttons">
                    <button class="new-comment-btn" type="submit" name="button">Post</button>
                    <button class="new-comment-btn" id="new-btn-cancel" type="button" name="button">Cancel</button>
                  </div>
                </form>

              </div>
              </li>
              </ul>

              <div class="add-a-comment">
                  Add a comment...
              </div>
          </div>

          <div class="doubt-bottom-div">

              <div class="doubt-options">
                <div class="doubt-options-span" id="answer-options-span">

                  <span><a href="#">Upvote</a></span>
                  <span> <a href="#">Downvote</a></span>
                  <span><a href="#">Star</a></span>
                </div>

                <button type="button" name="button">Edit</button>

              </div>


          </div>
      </div>

      `
    }
  });
}




</script>


  </body>
</html>
