<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Debuggers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/events.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>

  </head>
  <body>


    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <a class="navbar-brand" href="/"><i class="fas fa-bug icon"></i><p class="brand_name">Debuggers</p></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/events"><p class="about_nav_text">Events</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/doubtforum"><p class="meet_nav_text">Doubt Forum</p></a>
                  </li>

                  <li class="nav-item">
                   <a class="nav-link " href="/"><p class="contact_nav_text">Profile</p></a>
                 </li>
                <!-- <li class="nav-item">
                  <a class="nav-link " href=""><p class="contact_nav_text">Contact Us</p></a>
                </li>

                  <li class="nav-item">
                    <a class="nav-link" href="/LogIn"><p class="login_nav_text">Login</p></a>
                  </li> -->

              </ul>
            </div>
        </nav>


<div class="main-container">
  <section class="left-section" id="left">

  <div class="sidebar-img">
    <a href="/"><img src="https://cutt.ly/rki7z0g" alt=""></a>
  </div>
  <div class="profile"><a href="/">Profile</a></div>

  <div class="genretxt">
    GENRE!
  </div>
  <div class="genre">


      <ol>
        <li>Home</li>
        <li>Research</li>
        <li>Technology</li>
        <li>Innovation</li>
        <li>Internships</li>
      </ol>
  </div>
  </section>

  <section class="mid-section">
    <div class="searchbar-div">
        <i class="fas fa-bars"></i>
      <div class="search-input-div">
        <div><input class="search-bar" type="text" name="" value="" placeholder="Search.."></div>
        <div><i class="fas fa-search search-visible" id="search-icon"></i></div>
      </div>
    </div>

    <div class="searchbar-bg">
        <h1>EVENTS</h1>
    </div>

    <h1 class="trending-posts-txt">Trending Posts</h1>
    <div class="trending-posts">

      <% for(let i = 0; i< 3; i++) {  %>

      <section class="tr-posts">
        <div class="post-header">
          <section class="header-left">
            <a href="/profile/<%= users[i]._id %>"><img src="data:image/png;base64,<%= users[i].image %>" class="header-post-img"></a>

          </section>
          <section class="header-mid">
            <p><%= users[i].name %><br>
              <%= events[i]._id.getTimestamp() %>
            </p>
          </section>

        </div>

       <div class="post-img">
          <% if (events[i].image != null) { %>
            <img src="data:image/png;base64,<%= events[i].image%>">
            <% } else { %>
              <img src="https://www.ecell.in/2020/images/gallery/_dsc7848.jpg" alt="">
              <% } %>

              <% if(events.length > 3) { %>
                  //Add Span Here
              <% } %>
        </div>



        <div class="tr-post-hover"><div>Go to Post</div></div>
      </section>

      <% } %>

    </div>

    <h1 class="trending-posts-txt">Recommended For You</h1>
    <div class="trending-posts">

      <section class="tr-posts">
        <div class="post-header">
          <section class="header-left">
              <img src="https://cutt.ly/rki7z0g" alt="" class="header-post-img">
          </section>
          <section class="header-mid">
            <p>Faisal Ali Khan<br>
              2 min ago
            </p>
          </section>

        </div>

       <div class="post-img">
          <img src="https://miro.medium.com/max/4096/1*b1sAdqLJu-cehoRXkdzVFg.jpeg" alt="">
        </div>



        <div class="tr-post-hover"><div>Go to Post</div></div>
      </section>

      <section class="tr-posts">
        <div class="post-header">
          <section class="header-left">
              <img src="https://cutt.ly/rki7z0g" alt="" class="header-post-img">
          </section>
          <section class="header-mid">
            <p>Faisal Ali Khan<br>
              2 min ago
            </p>
          </section>

        </div>

        <div class="post-img">
          <img src="http://images.edexlive.com/uploads/user/imagelibrary/2017/3/27/original/iit.jpg" alt="">
        </div>


        <div class="tr-post-hover"><div>Go to Post</div></div>
      </section>

      <section class="tr-posts">
        <div class="post-header">
          <section class="header-left">
              <img src="https://cutt.ly/rki7z0g" alt="" class="header-post-img">

          </section>
          <section class="header-mid">
            <p>Faisal Ali Khan<br>
              2 min ago
            </p>
          </section>

        </div>

        <div class="post-img">
          <img src="https://www.pagalguy.com/wp-content/uploads/2019/09/IIT-Roorkee.png" alt="">
        </div>

        <div class="tr-post-hover"><div>Go to Post</div></div>
      </section>

    </div>
  </section>


</div>





<script src="/javascript/lib/jquery.js">
</script>
<script src="/javascript/events.js">
</script>


  </body>
</html>
